In [1]:
def add_nums(x,y):
    res=x+y
    return res

In [2]:
add_nums(10,20)

30

In [3]:
add_nums(10,20,30)

TypeError: add_nums() takes 2 positional arguments but 3 were given

In [4]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [8]:
def add_nums(x,y=0):         # default arguments
    res=x+y
    return res

In [9]:
add_nums(10,20)

30

In [10]:
add_nums(10)

10

In [22]:
def add_nums(x,y,*z):
    print(f"x:{x} & type:{type(x)}")
    print(f"y:{y} & type:{type(y)}")
    print(f"z:{z} & type:{type(z)}")
    res=x+y+sum(z)
    return res

In [23]:
add_nums(10,20,30,40,50,60,70,80,90,10)

x:10 & type:<class 'int'>
y:20 & type:<class 'int'>
z:(30, 40, 50, 60, 70, 80, 90, 10) & type:<class 'tuple'>

460

In [24]:
def add_nums(*x):
    print(f"x:{x} & type:{type(x)}")
    return sum(x)

In [28]:
add_nums(1,2,3,10,20,100,1000)

x:(1, 2, 3, 10, 20, 100, 1000) & type:<class 'tuple'>

1136

In [19]:
def add_nums(x,y):
    '''Add nums function should be called with 2 numbers to get the sum of those 2 nums'''
    return x+y

In [20]:
add_nums.__doc__

'Add nums function should be called with 2 numbers to get the sum of those 2 nums'

In [21]:
add_nums(5,6)

11

In [33]:
def about_customer(fname,lname,acct_num,**others):
    print(f"others:{type(others)}")
    print(f"First Name: {fname}\nLast Name:{lname}\nAccount No:{acct_num}")
    for key, value in others.items():
        print(key+':'+str(value))

In [36]:
about_customer('Raghul','Ramesh',152015539000,city="Chennai",Job="Trainer",Langaues=['Tamil','English'],country='India',age=37,gender='M',Marrital='Married')

others:<class 'dict'>
First Name: Raghul
Last Name:Ramesh
Account No:152015539000
city:Chennai
Job:Trainer
Langaues:['Tamil', 'English']
country:India
age:37
gender:M
Marrital:Married

In [37]:
#mandatory(x,y) , default/optional (y=0), star argumber (*x), double (key valur agrs) (**x)

In [42]:
def get_seniority(age):
    if age <= 20:
        return "Young"
    elif age > 20 and age < 50:
        return "Middle Level"
    else:
        return "senior"

In [47]:
level=get_seniority(30)

In [48]:
level

'Middle Level'

In [49]:
# SCOPE OF TEH VARIABLE : local and global

In [53]:
age = 37          #global variable

def birth_day():
    global age
    age=38       #local variable (since it got created inside a function)
    print(f"age inside the function:{age}")
          
print(f"age before the function call :{age}") 
birth_day()
print(f"age after the function call :{age}")

age before the function call :37
age inside the function:38
age after the function call :38

In [ ]:
# Special Function
lambda
map
filter
reduce


Generator

File ops
ecception handling